<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Restaurant Apps by CicaAftiyani, Aplikasi mencari resto terbaik!"
    />
    <meta name="theme-color" content="#393646" />

    <link rel="icon" href="./fav-icon.png" />
    <link rel="manifest" href="app.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">
    <title>Caca Apps</title>
  </head>

  <body>
    <a tabindex="1" href="#explore" class="skip-content">
      <p>Skip to content</p>
    </a>
    <header>
      <nav class="my-div">
        <div class="navbar-content">
          <span class="text-navbar-content">My Restaurant</span>
          <div class="search__container">
            <p class="search__title"> </p>
            <input class="search__input" type="text" placeholder="Search">
          </div>
        </div>

        <ul class="navbar">
          <li class="li-nb">
            <a style="text-decoration: none" tabindex="3" href="/" class="li-nb1">Home</a>
          </li>
          <li class="li-nb">
            <a style="text-decoration: none" tabindex="4" href="#/favorite" class="li-nb1">Favorite</a>
          </li>
          <li class="li-nb">
            <a
              style="text-decoration: none"
              tabindex="5"
              href="https://github.com/cicaaftiani"
              class="li-nb1"
              >About Us</a>
          </li>
        </ul>

        <div tabindex="2" class="drawer">
          <input type="checkbox" />
          <span style="margin-bottom: 11.5px"></span>
          <span style="margin-bottom: 11.5px"></span>
          <span></span>
        </div>
      </nav>

      <article class="myhero" id="hero">
        <aside class="hero-aside">
          <h1 class="hero-h1"><strong>My Restaurant cca</strong></h1>
          <h2 class="home-content-text-2">
            Tempat terbaik bagi para pecinta makanan yang mencari pengalaman kuliner yang istimewa
            dan melepas penat dengan menikmati makanan lezat.
          </h2>
        </aside>
      </article>
    </header>

    <main id="explore"></main>

    <footer id="copy-right">
      <div class="copy-right-sec">
        <i class="fa-solid"></i>Copyright © 2024 - Caca Apps
      </div>
    </footer>
  </body>
</html>
